<div class="modal-header position-relative">
  <button
    type="button"
    class="btn-close position-absolute icomoon-icon x-circle"
    aria-describedby="modal-title"
    (click)="onCloseClick()"
  ></button>
</div>

<div class="modal-body pb-0">
  <ngb-carousel class="mb-3">
    @for (image of product?.images; track $index) {
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper text-center">
        <img [src]="image" [alt]="image" />
      </div>
    </ng-template>
    }
  </ngb-carousel>

  <p class="fs-5">{{ product?.name }}</p>
</div>

<div class="modal-footer pt-0 d-flex justify-content-between">
  <div>
    @if (product?.price) {
    <div
      class="text-decoration-line-through text-center original-price fw-bold text-secondary"
      [innerHTML]="product?.original_price"
    ></div>

    <div class="fs-5 fw-bold" [innerHTML]="product?.price"></div>
    } @else {
    <div class="fs-5 fw-bold" [innerHTML]="product?.original_price"></div>
    }
  </div>

  <button type="button" class="btn btn-lg btn-success" (click)="onByNowClick()">
    Buy now
  </button>
</div>
