<div class="modal-header position-relative">
  <button
    type="button"
    class="btn-close position-absolute"
    aria-describedby="modal-title"
    (click)="onCloseClick()"
  ></button>
</div>

<div class="modal-body pb-0">
  <ngb-carousel class="mb-3">
    @for (image of product?.images; track $index) {
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper text-center">
        <img [src]="image" [alt]="image" />
      </div>
    </ng-template>
    }
  </ngb-carousel>

  <p class="fs-5">{{ product?.name }}</p>
</div>

<div class="modal-footer pt-0">
  <!-- NOTE: ngbAutofocus prevents close button focus and related styles we don't need. -->
  <button ngbAutofocus type="button" class="btn btn-lg btn-success">
    Buy now
  </button>
</div>
