@import '../../../assets/icomoon/icons.scss';
@import "../../../../node_modules/bootstrap/scss/functions";
@import '../../../../node_modules/bootstrap/scss/variables';

// Overriding ng-bootstrap.
.modal-header, .modal-footer {
  border: none;
}

.btn-close {
  top: 2px;
  right: 12px;
  transform: translate(50%, -50%);
  background: none;
  opacity: 100%;

  &:focus {
    box-shadow: none;
  }

  // TODO: Replace with icomoon icon.
  &::before {
    font-size: 26px;
    color: $secondary;
  }
}

:host ::ng-deep {
  .carousel-control-prev, .carousel-control-next {
    opacity: 100%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
    position: relative;

    &::before {
      font-size: 40px;
      color: $dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 40px;
      opacity: 100%;
    }
  }

  .carousel-control-prev-icon::before {
    font-family: 'icomoon';
    content: '\e900';
    transform: rotate(180deg) translate(50%, 50%);
  }

  .carousel-control-next-icon::before {
    font-family: 'icomoon';
    content: '\e900';
  }
}

ngb-carousel {
  height: 200px;

  img {
    max-height: 200px;
  }
}

.original-price {
  font-size: 18px;
}