/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import 'ngx-toastr/toastr';

.product-modal-backdrop {
  background-color: $gray-300;

  // Overriding ng-bootstrap.
  opacity: 100% !important;
}

.product-modal-window .modal-content {
  border: 2px solid $gray-500;
  border-radius: 0;
}